
html {
  font-family: "Averia Serif Libre", cursive;
}

main {
  background-color: #686ba7;
  overflow: visible;
  z-index: -1;
}

.z-5, .z-1, .z-2 {
  color: #aaadce;

  font-family: Poppins, sans-serif;
}

.z-1 {
  top: 0;
  z-index: -2;
}

.z-2 {
  bottom: 0;
  z-index: -3;
}

.z-5 {
  display: none;
}

.quote {
  color: #d9bd8b;
  top: 0;
  z-index: 1000;
}

p {
  margin: 0;
}

strong {
  color: #3d150f;
  display: block;
}

@media only screen and (min-width: 38em) {

  .z-5 {
    display: block;
    text-align: center;
  }

  .z-1, .z-2 {
    display: none;
  }

  .quote {
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

@media only screen and (min-width: 38em) {

  .quote {
    top: 27%;
  }

}
