
html{
  font-family: 'Averia Serif Libre', cursive;
}

main {
  background-color: #686BA7;
}

.z-5, .z-1{
  color: #aaadce;

  font-family: 'Poppins', sans-serif;
}
.z-5{
  display: none;
}

.quote {
  color: #D9BD8B;
  position: absolute;
  top:48px;
}

p {
  margin: 0;
}

strong {
  color: #3D150F;
  display: block;
}

@media only screen and (min-width: 38em) {

.z-5{
  display: block;
  text-align: center;
}

.z-1 {
  display: none;
  }

.quote {
  position: static;
  text-align: center;
}
}
